<%= link_to group do %>
<div class="group-wrapper">
  <div class="group" id="<%= dom_id group %>">
    <div class="group-icon">
      <img class="icon" src="<%= group.icon %>" alt="" srcset="">
    </div>
    <div class="group-infos">
      <div class="name-date">
        <p class="name"> <%= group.name %> </p>
        <p class="date"> <%= group.created_at.strftime('%b %d, %Y')%> </p>
      </div>
      <div class="sum">
        <p>$<%= group.sum_group %> </p>
      </div>
    </div>
    <div>
    </div>
  </div>
</div>

  <% end %>
